<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout :: layout(~{::section})">
    <section>
        <h2 th:text="${book.name}">Book</h2>
        <p th:text="${book.author}">Author</p>
        <p th:text="${book.genre}">Genre</p>
        <p th:text="${book.language}">Language</p>
        <p th:text="${book.ageGroup}">Age</p>
        <p th:text="${book.price}">Price</p>
        <p th:text="${book.description}">Description</p>
        <a th:href="@{/}">Back</a>
    </section>
</th:block>
</html>
