<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{app.title}">Book Store</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}" th:text="#{nav.home}">Home</a>
        <a th:href="@{/books}" th:text="#{nav.books}">Books</a>
        <span>
        <a th:href="@{__${#httpServletRequest.requestURI}__(lang='en')}">EN</a> |
        <a th:href="@{__${#httpServletRequest.requestURI}__(lang='uk')}">UK</a>
      </span>
        <span sec:authorize="isAnonymous()">
        <a th:href="@{/login}" th:text="#{nav.login}">Log in</a>
      </span>
        <span sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <button type="submit" th:text="#{nav.logout}">Log out</button>
        </form>
      </span>
    </nav>
</header>
<main th:insert="~{::body}"></main>
</body>
</html>
