<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/_head :: head(#{app.title})}"></head>
<body>
<header>
    <nav>
        <a th:href="@{/}" th:text="#{nav.books}">Books</a>
        <span>
      <a th:href="@{?lang=en}">EN</a> |
      <a th:href="@{?lang=ua}">UA</a>
    </span>
        <span sec:authorize="isAnonymous()">
      <a th:href="@{/login}" th:text="#{nav.login}">Log in</a>
    </span>
        <span sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" method="post"><button th:text="#{nav.logout}">Log out</button></form>
    </span>
    </nav>
</header>

<div th:fragment="layout(content)">
    <main th:insert="${content}"></main>
</div>

</body>
</html>
